*{
    margin: 0;
    padding: 0;
}
.form-ajouter{
    margin-left: 30%;
    margin-top: 04%;
}

.btn{
    margin-left: 25%;
    margin-top: 05%;
    border-radius:20px ;
    font-size: larger;
}
.row-2{
    margin-top :02%;
    color : blue;

}
.nom-input{
    margin-left: 13%;
}
.prenom-input{
    margin-left: 10.23%;
}
.matricule-input{
    margin-left: 2.9%;
}
.adresse-input{
    margin-left: 10.90%;
}
.ajout-brand{
    margin-left:08%;
    margin-bottom: 10%;
    color: black;
    font-weight: bolder;
}

input{
    border-radius: 10px;
    width: 40%;
}
 label{
    font-size: larger;
 }
 